#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define MOUSE    1
#define LOWER    2
#define MID      3
#define RAISE    4
#define SCROLL   5
#define ADJUST   6

// OS設定を日本語キーボードのまま使用するための変換定義
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {  
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

// Conditional layerの定義
// 複数のレイヤーを同時に有効にしたときに、特定のレイヤーを有効にするための定義
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <MID RAISE>;
            then-layer = <ADJUST>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <16 17>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// BASE
        layer_0 {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q      &kp W           &kp E         &kp R               &kp T                                                              &kp Y           &kp U     &kp I      &kp O        &kp P            &kp MINUS
&kp ESC    &kp A      &kp S           &kp D         &kp F               &kp G                                                              &kp H           &kp J     &kp K      &kp L        &kp SEMI         &kp JP_COLON
&kp LSHFT  &kp Z      &kp X           &kp C         &kp V               &kp B            &kp JP_LBRACKET            &kp JP_RBRACKET        &kp N           &kp M     &kp COMMA  &kp DOT      &kp FSLH         &kp INTERNATIONAL_1
&kp LCTRL  &kp LWIN   &kp LEFT_ALT    &kp LG(TAB)   &lt LOWER JP_EISU   &lt MID SPACE    &lt RAISE JP_KANA          &kp BACKSPACE          &kp RETURN      &none     &none      &kp JP_AT    &kp JP_CARET     &kp JP_YEN
            >;
        };

// MOUSE
        layer_1 {
            display-name = "Mouse";
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans     &trans      &trans
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK  &mo SCROLL  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans      &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &none      &none      &trans     &trans      &trans
            >;
        };

// LOWER
        layer_2 {
            display-name = "Lower";
            bindings = <
&trans  &kp LS(N1)        &kp LS(N2)        &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                              &kp LS(N6)      &kp LS(N7)     &kp LS(N8)        &kp LS(N9)         &kp LS(N0)     &trans
&trans  &kp N1            &kp N2            &kp N3      &kp N4      &kp N5                                  &kp LEFT_BRACE  &kp MINUS      &kp EQUAL         &kp RIGHT_BRACE    &kp COLON      &kp JP_AT
&trans  &kp N6            &kp N7            &kp N8      &kp N9      &kp N0      &kp JP_CARET  &kp JP_YEN    &kp LS(MINUS)   &kp LS(EQUAL)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
&trans  &trans            &trans            &trans      &trans      &trans      &trans        &kp DEL       &kp RETURN      &none          &none             &trans             &trans         &trans
            >; 
        };

// MID
        layer_3 {
            display-name = "Mid";
            bindings = <
&trans  &kp N1  &kp N2  &kp N3     &kp N4     &kp N5                   &trans       &trans     &kp UP      &trans     &trans      &trans
&trans  &kp N6  &kp N7  &kp N8     &kp N9     &kp N0                   &kp HOME     &kp LEFT   &kp DOWN    &kp RIGHT  &kp END     &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans   &trans       &trans     &trans      &trans     &trans      &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &kp DEL  &kp RETURN   &none      &none       &trans     &trans      &trans
            >;
        };

// RAISE
        layer_4 {
            display-name = "Raise";
            bindings = <
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                                &kp KP_N7      &kp KP_N8        &kp KP_N9      &kp KP_MULTIPLY   &kp KP_DIVIDE   &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10                               &kp KP_N4      &kp KP_N5        &kp KP_N6      &kp KP_PLUS       &kp KP_MINUS    &trans
&trans  &kp F11  &kp F12  &trans        &trans        &trans      &trans     &kp KP_N0      &kp KP_N1      &kp KP_N2        &kp KP_N3      &kp DOT           &trans          &trans
&trans  &trans   &trans   &trans        &trans        &trans      &trans     &kp BACKSPACE  &kp RETURN     &none            &none          &trans            &trans          &trans
            >;
        };

// SCROLL
// スクロールレイヤー。トラックボールのスクロールモード切替に使用する
        layer_5 {
            display-name = "Scroll";
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &none      &none      &trans     &trans  &trans
            >;
        };

// ADJUST
// 設定レイヤー。Bluetoothのペアリングや、トラックボールのモード切替などを行う
        layer_6 {
            display-name = "Adjust";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &bt BT_CLR_ALL  &trans     &trans     &trans     &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                        &bt BT_CLR      &trans     &trans     &trans     &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &out OUT_TOG    &trans     &trans     &trans     &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans          &none      &none      &trans     &trans  &trans
            >;
        };
    };
};
